<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoReservas tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoReservas').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
        $("#buttonVerReserva").attr("disabled","disabled");
				$("#buttonCambiarEstadoReserva").attr("disabled","disabled");
				$("#buttonEliminarReserva").attr("disabled","disabled");
				$("#buttonSubirDocumentosReserva").attr("disabled","disabled");
		}
		else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
        $("#buttonVerReserva").removeAttr("disabled");
				$("#buttonCambiarEstadoReserva").removeAttr("disabled");
				$("#buttonEliminarReserva").removeAttr("disabled");
				$("#buttonSubirDocumentosReserva").removeAttr("disabled");
		}
	});

</script>

<div id="idMainListadoReservas" style="margin-top: 50pt;">
		<div id="mainListadoReservas" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30pt;">
      <div id="divTituloListadoReservas" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt;">
        <font style="font-size: 15pt; font-weight: bold;">Listado de reservas</font>
      </div>
      <div id="divTablaListadoReservas" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20pt; height: 100%;">
			  <table id="tablaListadoReservas" class="display compact" style="height: 100%; width: 100%;">
			    <thead>
			      <tr>
			        <th class="celdaColor" style="border: 1pt solid white;">Cod.</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nro</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Fecha</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Unidad</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nombres</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Apellidos</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Rut</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Est</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Bod</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Total UF</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Ficha cliente">FC</th>
			        <th class="celdaColor" style="border: 1pt solid white;">F_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Cotización">CO</th>
			        <th class="celdaColor" style="border: 1pt solid white;">CO_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Ficha reserva">RE</th>
			        <th class="celdaColor" style="border: 1pt solid white;">RE_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Cédula de identidad">CI</th>
			        <th class="celdaColor" style="border: 1pt solid white;">CI_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Preaprobación bancaria">PB</th>
			        <th class="celdaColor" style="border: 1pt solid white;">PB_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Carpeta cliente">CC</th>
			        <th class="celdaColor" style="border: 1pt solid white;">CC_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Comprobante pago reserva">CR</th>
			        <th class="celdaColor" style="border: 1pt solid white;">CR_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;">IDUSUARIO</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Celular</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Email</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
			      </tr>
			    </thead>
			    <tbody id="cuerpoTablaListadoReservas" style="text-align: left;">

			    </tbody>
			  </table>
			</div>
      <!-- Botones -->
			<div id="divListadoVerReserva" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<button disabled style="width: 100%; font-size: 9pt;" id="buttonVerReserva" class="btn btn-primary" disabled>
					<i class="fa fa-info-circle"></i>&nbsp;&nbsp;Ver reserva
				</button>
			</div>
			<div id="divListadoSubirDocumentosReserva" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<button style="width: 100%; font-size: 9pt;" id="buttonSubirDocumentosReserva" class="btn btn-primary" disabled>
					<i class="fa fa-cloud-upload"></i>&nbsp;&nbsp;Subir documentos
				</button>
			</div>
			<div id="divListadoAutorizarReserva" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<button disabled  style="width: 100%; font-size: 9pt;" id="buttonCambiarEstadoReserva" class="btn btn-primary" disabled>
					<i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Cambiar estado reserva
				</button>
			</div>
			<div id="divListadoEliminarReserva" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<button disabled  style="width: 100%; font-size: 9pt;" id="buttonEliminarReserva" class="btn btn-primary" disabled>
					<i class="glyphicon glyphicon-erase"></i>&nbsp;&nbsp;Eliminar
				</button>
			</div>
			<div id="divMostrarProyectoReserva" style="margin-top: 10pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-top: 5pt;">
					<label>Proyecto:</label>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<select class="form-control custom" type="text" name="mostrarProyectoReserva" id="mostrarProyectoReserva">

					</select>
				</div>
			</div>
    </div>
</div>
