<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoPromesas tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoPromesas').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
        $("#buttonVerPromesa").attr("disabled","disabled");
				$("#buttonCambiarEstadoPromesa").attr("disabled","disabled");
				$("#buttonEliminarPromesa").attr("disabled","disabled");
				$("#buttonSubirDocumentosPromesa").attr("disabled","disabled");
				$("#buttonCederPromesa").attr("disabled","disabled");
		}
		else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
        $("#buttonVerPromesa").removeAttr("disabled");
				$("#buttonCambiarEstadoPromesa").removeAttr("disabled");
				$("#buttonEliminarPromesa").removeAttr("disabled");
				$("#buttonSubirDocumentosPromesa").removeAttr("disabled");
				var a = $.map(table.rows('.selected').data(), function (item) {
			   	return item.ESTADO_TEXTO;
			  });
				if(a[0] === "Promesada"){
						$("#buttonCederPromesa").removeAttr("disabled");
				}
				else{
					$("#buttonCederPromesa").attr("disabled","disabled");
				}
		}
	});

</script>

<div id="idMainListadoPromesas" style="margin-top: 50pt;">
		<div id="mainListadoPromesas" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30pt;">
      <div id="divTituloListadoPromesas" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt;">
        <font style="font-size: 15pt; font-weight: bold;">Listado de promesas</font>
      </div>
      <div id="divTablaListadoPromesas" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20pt; height: 100%;">
			  <table id="tablaListadoPromesas" class="display compact" style="height: 100%; width: 100%;">
			    <thead>
			      <tr>
			        <th class="celdaColor" style="border: 1pt solid white;">Cod.</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nro</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Fecha</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Unidad</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nombres</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Apellidos</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Rut</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Est</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Bod</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Total UF</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
			     	<th class="celdaColor" style="border: 1pt solid white;" title="Ficha cliente">FC</th>
			        <th class="celdaColor" style="border: 1pt solid white;">F_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Cotización">CO</th>
			        <th class="celdaColor" style="border: 1pt solid white;">CO_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Ficha reserva">RE</th>
			        <th class="celdaColor" style="border: 1pt solid white;">RE_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Cédula de identidad">CI</th>
			        <th class="celdaColor" style="border: 1pt solid white;">CI_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Preaprobación bancaria">PB</th>
			        <th class="celdaColor" style="border: 1pt solid white;">PB_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Carpeta cliente">CC</th>
			        <th class="celdaColor" style="border: 1pt solid white;">CC_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Comprobante pago reserva">CR</th>
			        <th class="celdaColor" style="border: 1pt solid white;">CR_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Ficha promesa">PR</th>
			        <th class="celdaColor" style="border: 1pt solid white;">PR_RUTA</th>
					<th class="celdaColor" style="border: 1pt solid white;" title="Comprobantes pago promesa">CP</th>
			        <th class="celdaColor" style="border: 1pt solid white;">CP_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Promesa firmada">PF</th>
			        <th class="celdaColor" style="border: 1pt solid white;">PF_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;" title="Poliza seguros">PS</th>
			        <th class="celdaColor" style="border: 1pt solid white;">PS_RUTA</th>
			        <th class="celdaColor" style="border: 1pt solid white;">IDUSUARIO</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Celular</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Email</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
			      </tr>
			    </thead>
			    <tbody id="cuerpoTablaListadoPromesas" style="text-align: left;">

			    </tbody>
			  </table>
			</div>
      <!-- Botones -->
			<div id="divListadoVerPromesa" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<button style="width: 100%; font-size: 9pt;" id="buttonVerPromesa" class="btn btn-primary" disabled>
					<i class="fa fa-info-circle"></i>&nbsp;&nbsp;Ver promesa
				</button>
			</div>
			<div id="divListadoSubirDocumentosPromesa" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<button style="width: 100%; font-size: 9pt;" id="buttonSubirDocumentosPromesa" class="btn btn-primary" disabled>
					<i class="fa fa-cloud-upload"></i>&nbsp;&nbsp;Subir documentos
				</button>
			</div>
			<div id="divListadoAutorizarPromesa" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<button style="width: 100%; font-size: 9pt;" id="buttonCambiarEstadoPromesa" class="btn btn-primary" disabled>
					<i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Cambiar estado promesa
				</button>
			</div>
			<div id="divListadoCederPromesa" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<button style="width: 100%; font-size: 9pt;" id="buttonCederPromesa" class="btn btn-primary" disabled>
					<i class="fa fa-exchange"></i>&nbsp;&nbsp;Ceder
				</button>
			</div>
			<div id="divListadoEliminarPromesa" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<button style="width: 100%; font-size: 9pt;" id="buttonEliminarPromesa" class="btn btn-primary" disabled>
					<i class="glyphicon glyphicon-erase"></i>&nbsp;&nbsp;Eliminar
				</button>
			</div>
			<div id="divMostrarProyectoPromesa" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
				<select title="Proyectos" class="form-control custom" type="text" name="mostrarProyectoPromesa" id="mostrarProyectoPromesa">

				</select>
			</div>
    </div>
</div>
