html {
  min-height: 100%;
  position: relative;
}
body{
  background: #F6F6F6;
  overflow-x:hidden;
  margin: 0;
  margin-bottom: 40px;
}

label {
  font-size: 9pt;
}

.centerDataTable {
  text-align: center;
}

.pdf {
  color: red;
}

.pdf:hover{
  color: blue;
}

.ui-autocomplete {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;
    z-index: 2000;
}

.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}

@media (min-width: 768px) and (max-width: 1259px) {
  .navbar-brand {
    min-height: 65pt;
  }
}

@media (max-width: 1260px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

@media (max-width: 1260px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}

.custom-header{
  background: #8e8e8e;
  color: white;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

select.custom {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.custom::-ms-expand {
  display: none;
}

hr.lineaSeparadora {
  background-color: #c1c1c1;
  width: 100%;
  height: 1px;
}

.sombraDato {
  box-shadow: 2pt 2pt 5pt #000000;
}

.splash_load{
  display: block;
  margin:0 auto 0 auto;
  width: 40pt;
  margin-bottom: 5pt;

}
.splash_logo{
  display: block;
  margin:0 auto 0 auto;
  width: 150pt;
  margin-top: 20%;
  margin-bottom: -20pt;
}

.splash{
  display: block;
  margin:0 auto 0 auto;
  width: 200pt;
  margin-top: 30pt;
  margin-bottom: -2%;
}

.splash_charge_logo {
  display: block;
  margin:0 auto 0 auto;
  width: 50pt;
  margin-bottom:10pt;
}

.splash_charge {
  display: block;
  margin:0 auto 0 auto;
  width: 150pt;
  margin-top: 10pt;
  margin-bottom: -2%;
}

.textoSplash{
  color: #11ca3c;
  font-size: 12pt;
}

.iconButton{
  margin-bottom: 7pt;
  margin-top: 6pt;
}

.contenedor{
  display: flex;
  justify-content: center;
}

#login, #mainLogged, #mainConstruccion{
  display: flex;
  align-items: center;
  justify-content: center;
}

#contenido, #header, #footer{
  text-align: center;
  display: none;
}

#cargando{
  text-align: center;
}

.lineMenu{
  background: #285786;
  height: 4pt;
}

// Menu
#menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#menu.navbar-default {
    font-size: 14pt;
    background-color: rgba(225, 225, 225, 1);
    border-bottom-width: 0pt;
}
#menu.navbar-default .navbar-nav>li>a {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(225, 225, 225, 1);
}
#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(235, 235, 235, 1);
}
#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(235, 235, 235, 1);
}
#menu.navbar-default .navbar-toggle {
    border-color: rgba(235, 235, 235, 1);
}
#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: rgba(235, 235, 235, 1);
}
#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: white;
}

.navbar-nav > li > .dropdown-menu {
  background-color: rgba(235, 235, 235, 1);
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: rgba(242, 242, 242, 1);
}

.navbar-nav > li > .dropdown-menu a {
  color: black;
}

.modal {
  text-align: center;
}

.modal-backdrop
{
    opacity: 0.2 !important;
    background: #F6F6F6;
}

.alerta-modal-body {
  color: black;
  background: #FFFFFF;
  text-align: center;
  border: 0.5pt solid #ececec;
}

@media screen and (min-width: 768pt) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


.celdaColor{
  background-color: #285786;
  color: white;
}

.celdaColorHijo{
  background-color: white;
}

.celdaColorCliente{
  background-color: #268dc8;
  color: white;
}

.tablaProductos{
    color: black;
    background: white;
}

.toolbar {
    float: left;
    color: white;
    font-size: 18pt;
    text-decoration: underline;
}

input {
  color: black;
  font-weight: normal;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none;
  color: black!important;
  border-radius: 4px;
  border: 0px solid #828282;
  font-weight: bold!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background: none;
  color: #c1c1c1!important;
  border-radius: 4px;
  border: 0px solid #828282;
  font-weight: bold!important;
}

td {
  font-size: 10pt;
}

th {
  font-size: 10pt;
}

.datatable td, th, tr {
    overflow: hidden; /* this is what fixes the expansion */
    text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
    white-space: nowrap;
}

.toolbar{
  color: black!important;
  text-decoration: none;
}

.dataTables_filter{
  color: black!important;
  text-decoration: none;
}

.dataTables_info{
  color: black!important;
  text-decoration: none;
  font-weight: bold!important;
}

.no-select{
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.repliega{

}


.dataTables_wrapper .dt-buttons {
  float:none;
  text-align: left;
}
