<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoCotizaciones tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoCotizaciones').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
        $("#buttonSeguimientoCotizacion").attr("disabled","disabled");
				$("#buttonPDFCotizaciones").attr("disabled","disabled");
				$("#buttonEliminarCotizaciones").attr("disabled","disabled");
		}
		else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
        $("#buttonSeguimientoCotizacion").removeAttr("disabled");
				$("#buttonPDFCotizaciones").removeAttr("disabled");
				$("#buttonEliminarCotizaciones").removeAttr("disabled");
		}
	});

</script>

<div id="idMainListadoCotizaciones" style="margin-top: 50pt;">
		<div id="mainListadoCotizaciones" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30pt;">
      <div id="divTituloListadoCotizaciones" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt;">
        <font style="font-size: 15pt; font-weight: bold;">Listado de cotizaciones</font>
      </div>
      <div id="divTablaListadoCotizaciones" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20pt; height: 100%;">
			  <table id="tablaListadoCotizaciones" class="display compact" style="height: 100%; width: 100%;">
			    <thead>
			      <tr>
			        <th class="celdaColor" style="border: 1pt solid white;">Cod.</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nro.</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Fecha</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Unidad</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nombres</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Apellidos</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Rut</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Celular</th>
			        <th class="celdaColor" style="border: 1pt solid white;">E-Mail</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Est</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Bod</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Forma</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Valor UF</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Vendedor</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Medio</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Visita</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Interés</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Sem 1</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Sem 2</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Sem 3</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Sem 4</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Ruta PDF</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
			      </tr>
			    </thead>
			    <tbody id="cuerpoTablaListadoCotizaciones" style="text-align: left;">

			    </tbody>
			  </table>
			</div>
      <!-- Botones -->
      <div>
        <div id="divListadoCotizacionesSeguimiento" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; font-size: 9pt;" id="buttonSeguimientoCotizacion" class="btn btn-primary" disabled>
            <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Actualizar seguimiento
          </button>
        </div>
				<div id="divListadoCotizacionesPDF" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; font-size: 9pt;" id="buttonPDFCotizaciones" class="btn btn-primary" disabled>
            <i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;PDF
          </button>
        </div>
				<div id="divListadoCotizacionesEliminar" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; font-size: 9pt;" id="buttonEliminarCotizaciones" class="btn btn-primary" disabled>
            <i class="glyphicon glyphicon-erase"></i>&nbsp;&nbsp;Eliminar
          </button>
        </div>
				<div id="divMostrarProyectoCotizacion" style="margin-top: 10pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-top: 5pt;">
						<label>Proyecto:</label>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<select class="form-control custom" type="text" name="mostrarProyectoCotizacion" id="mostrarProyectoCotizacion">

	          </select>
					</div>
        </div>
				<div id="divMostrarTodosCotizacion" style="margin-top: 10pt;" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align: left; margin-top: 5pt;">
						<label>Mostrar:</label>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<select class="form-control custom" type="text" name="mostrarTodosCotizacion" id="mostrarTodosCotizacion">
	          	<option value="vigentes" selected>Vigentes</option>
							<option value="todas">Todas</option>
	          </select>
					</div>
        </div>
			</div>
    </div>
</div>
