<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div id="idMainCrearUnidad" style="margin-top: 50pt;">
		<div id="mainCrearUnidad" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; margin-bottom: 30pt;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="divTituloDatosBasicosCrearUnidad" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;">
					<font style="font-size: 16pt; font-weight: bold;">Ingreso de unidad a proyecto: <i id="nombreTituloCrearUnidad"></i></font>
				</div>
			</div>
      <div id="datosDeCrearUnidad" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form enctype="multipart/form-data" id="formDatosCrearUnidad" style="text-align: left;">
        <!-- Datos Básicos -->
				<div id="divNumeroCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Número</label>
  				<input class="form-control" type="text" name="numeroCrearUnidad" id="numeroCrearUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divTipoCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Tipo</label>
					<select class="form-control custom" type="text" name="tipoCrearUnidad" id="tipoCrearUnidad" style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
				<div id="divAccionCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Acción</label>
					<select class="form-control custom" type="text" name="accionCrearUnidad" id="accionCrearUnidad" style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
				<div id="divEstadoCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Estado</label>
					<select class="form-control custom" type="text" name="estadoCrearUnidad" id="estadoCrearUnidad" style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>
				<div id="divPisoCrearUnidad" class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
					<label>Piso</label>
  				<input class="form-control" type="text" name="pisoCrearUnidad" id="pisoCrearUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divOrientacionCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Orientación</label>
  				<input class="form-control" type="text" name="orientacionCrearUnidad" id="orientacionCrearUnidad"style="margin-bottom: 5pt;">
  			</div>
				<div id="divTipologiaCrearUnidad" class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
					<label>Tipología</label>
					<select class="form-control custom" type="text" name="tipologiaCrearUnidad" id="tipologiaCrearUnidad" style="margin-bottom: 5pt; width: 100%;">

					</select>
				</div>


				<div id="divValorCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Valor en UF</label>
  				<input class="form-control" type="text" name="valorCrearUnidad" id="valorCrearUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divCantDormitoriosCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Cant. Dormitorios</label>
  				<input class="form-control" type="text" name="cantDormitoriosCrearUnidad" id="cantDormitoriosCrearUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divCantBanosCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Cant. Baños</label>
					<input class="form-control" type="text" name="cantBanosCrearUnidad" id="cantBanosCrearUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divCantidadEstacionamientosCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Cant. Estacionamientos</label>
					<input class="form-control" type="text" name="cantidadEstacionamientosCrearUnidad" id="cantidadEstacionamientosCrearUnidad" style="margin-bottom: 5pt;">
				</div>
				<div id="divCantidadBodegasCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Cant. Bodegas</label>
					<input class="form-control" type="text" name="cantidadBodegasCrearUnidad" id="cantidadBodegasCrearUnidad" style="margin-bottom: 5pt;">
				</div>
				<div id="divLogiaCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Logia</label>
  				<input class="form-control" type="text" name="logiaCrearUnidad" id="logiaCrearUnidad" style="margin-bottom: 5pt;">
  			</div>

				<div id="divM2UtilCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>M2 útil</label>
  				<input class="form-control" type="text" name="m2UtilCrearUnidad" id="m2UtilCrearUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divM2TerrazaCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>M2 terraza</label>
					<input class="form-control" type="text" name="m2TerrazaCrearUnidad" id="m2TerrazaCrearUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divM2OtroCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>M2 otro</label>
					<input class="form-control" type="text" name="m2OtroCrearUnidad" id="m2OtroCrearUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divM2TotalCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>M2 total</label>
					<input class="form-control" type="text" name="m2TotalCrearUnidad" id="m2TotalCrearUnidad" style="margin-bottom: 5pt;">
  			</div>
				<div id="divCodigoTipoCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Código tipo</label>
					<input class="form-control" type="text" name="codigoTipoCrearUnidad" id="codigoTipoCrearUnidad" style="margin-bottom: 5pt;">
				</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
					<label style="visibility: hidden;">Espacio</label>
					<input class="form-control" type="text" style="visibility: hidden; margin-bottom: 5pt;">
				</div>
				<div  id="divImgPlanoCrearUnidad" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<label>Imagen plano</label>
					<div class="input-group">
	            <label class="input-group-btn">
	                <span class="btn btn-default btn-file" style="margin-bottom: 5pt; text-align: left; color: grey;">
	                    Examinar... <input type="file" id="imgPlanoCrearUnidad" name="imgPlanoCrearUnidad" accept="image/*" style="display: none;" multiple>
	                </span>
	            </label>
	            <input id="infoImgPlanoCrearUnidad" type="text" class="form-control" readonly>
	        </div>
				</div>
				<div  id="divImgOtraCrearUnidad" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<label>Imagen otra</label>
					<div class="input-group">
	            <label class="input-group-btn">
	                <span class="btn btn-default btn-file" style="margin-bottom: 5pt; text-align: left; color: grey;">
	                    Examinar... <input type="file" id="imgOtraCrearUnidad" name="imgOtraCrearUnidad" accept="image/*" style="display: none;" multiple>
	                </span>
	            </label>
	            <input id="infoImgOtraCrearUnidad" type="text" class="form-control" readonly>
	        </div>
				</div>
				<div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
					<label style="visibility: hidden;">Espacio</label>
					<input class="form-control" type="text" style="visibility: hidden; margin-bottom: 5pt;">
				</div>
				<!-- Solo corretaje -->
				<div id="divTituloCorretajeCrearUnidad" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt; margin-top: 10pt; font-weight: bold;">
					<hr class="lineaSeparadora">
          <font style="font-size: 15pt;">Solo corretaje</font>
        </div>
				<div id="divDireccionCrearUnidad" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<label>Dirección</label>
					<input class="form-control" type="text" name="direccionCrearUnidad" id="direccionCrearUnidad" style="margin-bottom: 5pt;">
				</div>
				<div id="divComunaCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Comuna</label>
					<input class="form-control" type="text" name="comunaCrearUnidad" id="comunaCrearUnidad" style="margin-bottom: 5pt;">
				</div>
				<div id="divDescripcion1CrearUnidad" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label>Descripción Propiedad Cotización (puede ingresar código HTML)</label>
					<textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="descripcion1CrearUniad" id="descripcion1CrearUnidad" maxlength="3000"></textarea>
        </div>
				<div id="divDescripcion2CrearUnidad" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label>Información Interna (puede ingresar código HTML)</label>
					<textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="descripcion2CrearUniad" id="descripcion2CrearUnidad" maxlength="3000"></textarea>
        </div>
				<div id="divComisionLVDuenoCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>% Comisión VTA Dueño</label>
					<input class="form-control" type="text" name="comisionLVDuenoCrearUnidad" id="comisionLVDuenoCrearUnidad" placeholder="Comisión LV dueño" style="margin-bottom: 5pt;">
				</div>
				<div id="divComisionLVClienteCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>% Comisión VTA Cliente</label>
					<input class="form-control" type="text" name="comisionLVClienteCrearUnidad" id="comisionLVClienteCrearUnidad" placeholder="Comisión LV cliente" style="margin-bottom: 5pt;">
				</div>
				<div id="divComisionVenDuenoCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>% Comisión ARR Dueño</label>
					<input class="form-control" type="text" name="comisionVenDuenoCrearUnidad" id="comisionVenDuenoCrearUnidad" placeholder="Comisión Ven. dueño" style="margin-bottom: 5pt;">
				</div>
				<div id="divComisionVenClienteCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>% Comisión ARR Cliente</label>
					<input class="form-control" type="text" name="comisionVenClienteCrearUnidad" id="comisionVenClienteCrearUnidad" placeholder="Comisión Ven. cliente" style="margin-bottom: 5pt;">
				</div>
				<div id="divTituloDatosVendedorCrearUnidad" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt; margin-top: 10pt; font-weight: bold;">
          <font style="font-size: 13pt;">Datos vendedor</font>
        </div>
				<div id="divRutVendedorCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Rut</label>
					<input class="form-control" type="text" name="rutVendedorCrearUnidad" id="rutVendedorCrearUnidad" style="margin-bottom: 5pt;" onblur="Rut6();">
				</div>
				<div id="divNombresVendedorCrearUnidad" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<label>Nombres</label>
					<input class="form-control" type="text" name="nombresVendedorCrearUnidad" id="nombresVendedorCrearUnidad"  style="margin-bottom: 5pt;" onblur="validacionNombresVendedorCrearUnidad();">
  			</div>
        <div id="divApellidosVendedorCrearUnidad" class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<label>Apellidos</label>
					<input class="form-control" type="text" name="apellidosVendedorCrearUnidad" id="apellidosVendedorCrearUnidad"  style="margin-bottom: 5pt;" onblur="validacionApellidosVendedorCrearUnidad();">
  			</div>
				<div id="divCelularVendedorCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<label>Celular</label>
					<input class="form-control" type="text" name="celularVendedorCrearUnidad" id="celularVendedorCrearUnidad"  style="margin-bottom: 5pt;" maxlength="11">
  			</div>
        <div id="divEmailVendedorCrearUnidad" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<label>E-Mail</label>
					<input class="form-control" type="text" name="emailVendedorCrearUnidad" id="emailVendedorCrearUnidad"  style="margin-bottom: 5pt;" onblur="validacionEmail6();">
  			</div>
			</form>
      </div>
      <!-- Botones -->
      <div id="botonesCrearUnidad" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt;">
        <div id="divGuardarCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-bottom: 5pt;" class="form-control btn btn-primary" name="guardarCrearUnidad" id="guardarCrearUnidad" ><i clasS="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
        </div>
        <div id="divLimpiarCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; margin-bottom: 5pt;" class="form-control btn btn-primary" name="limpiarCrearUnidad" id="limpiarCrearUnidad"><i class="glyphicon glyphicon-erase"></i>&nbsp;&nbsp;Limpiar</button>
        </div>
				<div id="divRegresarCrearUnidad" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="regresarCrearUnidad" id="regresarCrearUnidad"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Regresar</button>
        </div>
      </div>
		</div>
</div>
