<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div id="idMainDetalleProyecto" style="margin-top: 50pt;">
		<div id="mainDetalleProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; margin-bottom: 30pt;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="divTituloDetalleProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 10pt;">
					<font style="font-size: 15pt; font-weight: bold;">Proyecto: <i id="tituloDetalleProyecto"></i></font>
				</div>
			</div>
			<div id="datosDetalleProyecto" style="text-align: left;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form enctype="multipart/form-data" id="formDatosDetalleProyecto">
					<!-- Datos Básicos -->
	        <div id="divTituloDatosBasicosDetalleProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt;">
	          <font style="font-size: 14pt;">Datos Básicos</font>
	        </div>
	        <div id="divCodigoDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Código proyecto</label>
						<input class="form-control" type="text" name="codigoDetalleProyecto" id="codigoDetalleProyecto"  style="margin-bottom: 5pt;">
	  			</div>
	        <div id="divNombreDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Nombre proyecto</label>
	  				<input class="form-control" type="text" name="nombreDetalleProyecto" id="nombreDetalleProyecto"  style="margin-bottom: 5pt;">
	  			</div>
	        <div id="divInmobiliariaDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Inmobiliaria</label>
	  				<input class="form-control" type="text" name="inmobiliariaDetalleProyecto" id="inmobiliariaDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
	        <div id="divEmailInmobiliariaDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>E-Mail inmobiliaria</label>
	  				<input class="form-control" type="text" name="emailInmobiliariaDetalleProyecto" id="emailInmobiliariaDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
	        <div id="divDireccionDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Dirección sala de venta</label>
	  				<input class="form-control" type="text" name="direccionDetalleProyecto" id="direccionDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
	        <div id="divFono1InmobiliariaDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Fono 1 sala de venta</label>
	  				<input class="form-control" type="text" name="fono1InmobiliariaDetalleProyecto" id="fono1InmobiliariaDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
	        <div id="divFono2InmobiliariaDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Fono 2 sala de venta</label>
	  				<input class="form-control" type="text" name="fono2InmobiliariaDetalleProyecto" id="fono2InmobiliariaDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
	        <div id="divFInicioVentaDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Fecha inicio venta</label>
	  				<input class="form-control" type="text" name="fInicioVentaDetalleProyecto" id="fInicioVentaDetalleProyecto"  style="margin-bottom: 5pt;">
	  			</div>
	        <div id="divFFinObraDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Fecha fin obra</label>
	  				<input class="form-control" type="text" name="fFinObraDetalleProyecto" id="fFinObraDetalleProyecto"  style="margin-bottom: 5pt;">
	  			</div>
	        <div id="divFEntregaDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Fecha entrega</label>
	  				<input class="form-control" type="text" name="fEntregaDetalleProyecto" id="fEntregaDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
	        <div id="divEmailDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>E-Mail proyecto</label>
	  				<input class="form-control" type="text" name="emailDetalleProyecto" id="emailDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
	        <div id="divWebDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Web proyecto</label>
	  				<input class="form-control" type="text" name="webDetalleProyecto" id="webDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
					<div  id="divLogoDetalleProyecto" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<label>Logo proyecto</label>
						<div class="input-group">
		            <label class="input-group-btn">
		                <span disabled class="btn btn-default btn-file" style="margin-bottom: 5pt; text-align: left; color: grey;">
		                    Examinar... <input type="file" id="logoDetalleProyecto" name="logoDetalleProyecto" accept="image/png" style="display: none;" multiple>
		                </span>
		            </label>
		            <input id="infoLogoDetalleProyecto" type="text" class="form-control" readonly>
		        </div>
					</div>
					<div id="divEstadoDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Estado</label>
						<select disabled class="form-control custom" type="text" name="estadoDetalleProyecto" id="estadoDetalleProyecto"  style="margin-bottom: 5pt; width: 100%;">

						</select>
					</div>
					<div id="divDiasCotDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Días val. Cotiza</label>
	  				<input class="form-control" type="text" name="diasCotDetalleProyecto" id="diasCotDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
					<div id="divDiasResDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Días val. Reserva</label>
	  				<input class="form-control" type="text" name="diasResDetalleProyecto" id="diasResDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
					<div id="divDefaultPiePromesaDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>% Pie promesa</label>
	  				<input class="form-control" type="text" name="defaultPiePromemsaDetalleProyecto" id="defaultPiePromemsaDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
					<div id="divDefaultPieCuotasDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>% Pie cuotas</label>
	  				<input class="form-control" type="text" name="defaultPieCuotasDetalleProyecto" id="defaultPieCuotasDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
					<div id="divDefaultTasaDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Tasa Hipo.</label>
	  				<input class="form-control" type="text" name="defaultTasaDetalleProyecto" id="defaultTasaDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
	        <!-- Comisiones -->
	        <div id="divTituloDatosBasicosDetalleProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt; margin-top: 5pt;">
	          <font style="font-size: 14pt;">Comisiones (%)</font>
	        </div>
	        <div id="divComisionLVPromesaDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>% Comisión Empresa <br/> Promesa</label>
	  				<input class="form-control" type="text" name="comisionLVPromesaDetalleProyecto" id="comisionLVPromesaDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
	        <div id="divComisionLVEscrituraDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>% Comisión Empresa <br/> Escritura</label>
	  				<input class="form-control" type="text" name="comisionLVEscrituraDetalleProyecto" id="comisionLVEscrituraDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
	        <div id="divComisionVenPromesaDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>% Comisión Vendedor <br/> Promesa</label>
	  				<input class="form-control" type="text" name="comisionVenPromesaDetalleProyecto" id="comisionVenPromesaDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
	        <div id="divComisionVenEscrituraDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>% Comisión Vendedor <br/> Escritura</label>
	  				<input class="form-control" type="text" name="comisionVenEscrituraDetalleProyecto" id="comisionVenEscrituraDetalleProyecto" style="margin-bottom: 5pt;">
	  			</div>
	  		<div id="divComisionIVADetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<label>IVA <br/> Proyecto</label>
			<input class="form-control" type="text" name="comisionIVADetalleProyecto" id="comisionIVADetalleProyecto" style="margin-bottom: 5pt;">
			</div>
			<div id="divEspacioDetalleProyecto" style="width: 100%;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	          &nbsp;
	        </div>
	        <div id="divUnidadesSaltoDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	          <label>Unidades de salto</label>
	          <input class="form-control" type="text" name="unidadesSaltoDetalleProyecto" id="unidadesSaltoDetalleProyecto" style="margin-bottom: 5pt;">
	        </div>
	        <div id="divEspacioDetalleProyecto2" style="width: 100%;" class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
	          &nbsp;
	        </div>
	        <div id="divComisionLVPromesaDetalleProyecto2" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	          <label>% Comisión Empresa <br/> Promesa</label>
	          <input class="form-control" type="text" name="comisionLVPromesaDetalleProyecto2" id="comisionLVPromesaDetalleProyecto2" style="margin-bottom: 5pt;">
	        </div>
	        <div id="divComisionLVEscrituraDetalleProyecto2" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	          <label>% Comisión Empresa <br/> Escritura</label>
	          <input class="form-control" type="text" name="comisionLVEscrituraDetalleProyecto2" id="comisionLVEscrituraDetalleProyecto2" style="margin-bottom: 5pt;">
	        </div>
	        <div id="divComisionVenPromesaDetalleProyecto2" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	          <label>% Comisión Vendedor <br/> Promesa</label>
	          <input class="form-control" type="text" name="comisionVenPromesaDetalleProyecto2" id="comisionVenPromesaDetalleProyecto2" style="margin-bottom: 5pt;">
	        </div>
	        <div id="divComisionVenEscrituraDetalleProyecto2" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
	          <label>% Comisión Vendedor <br/> Escritura</label>
	          <input class="form-control" type="text" name="comisionVenEscrituraDetalleProyecto2" id="comisionVenEscrituraDetalleProyecto2" style="margin-bottom: 5pt;">
	        </div>
	        <!-- Bonos y descuentos -->
	        <div id="divTituloDatosBasicosDetalleProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt; margin-top: 5pt;">
	          <font style="font-size: 14pt;">Bonos y descuentos (%)</font>
	        </div>
	        <div id="divDescuentoSala1DetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Descuento sala 1 (%)</label>
	          <input class="form-control" type="text" name="descuentoSala1DetalleProyecto" id="descuentoSala1DetalleProyecto" style="margin-bottom: 5pt;">
	        </div>
	        <div id="divInfoDescuento1DetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Info. Descuento 1</label>
	          <input class="form-control" type="text" name="infoDescuento1DetalleProyecto" id="infoDescuento1DetalleProyecto" style="margin-bottom: 5pt;">
	        </div>
	        <div id="divDescuentoSala2DetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Descuento sala 2 (%)</label>
	          <input class="form-control" type="text" name="descuentoSala2DetalleProyecto" id="descuentoSala2DetalleProyecto" style="margin-bottom: 5pt;">
	        </div>
	        <div id="divInfoDescuento2DetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Info. Descuento 2</label>
	          <input class="form-control" type="text" name="infoDescuento2DetalleProyecto" id="infoDescuento2DetalleProyecto" style="margin-bottom: 5pt;">
	        </div>
					<div id="divBonoVentaDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Bono venta (UF)</label>
	          <input class="form-control" type="text" name="bonoVentaDetalleProyecto" id="bonoVentaDetalleProyecto" style="margin-bottom: 5pt;">
	        </div>
	        <div id="divInfoBonoVentaDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Info. Bono venta</label>
	          <input class="form-control" type="text" name="infoBonoVentaDetalleProyecto" id="infoBonoVentaDetalleProyecto" style="margin-bottom: 5pt;">
	        </div>
	        <div id="divDescuentoSala3DetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
						<label>Valor reserva (UF)</label>
	          <input class="form-control" type="text" name="descuentoSala3DetalleProyecto" id="descuentoSala3DetalleProyecto" style="margin-bottom: 5pt;">
	        </div>
	        <!-- Información -->
	        <div id="divTituloDatosBasicosDetalleProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left; margin-bottom: 5pt; margin-top: 5pt;">
	          <font style="font-size: 14pt;">Información (máximo por área 2000 carácteres)</font>
	        </div>
	        <div id="divCotiza1DetalleProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>Cotiza 1 (puede ingresar código html)</label>
						<textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="cotiza1DetalleProyecto" id="cotiza1DetalleProyecto" maxlength="2000"></textarea>
	        </div>
	        <div id="divCotiza2DetalleProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>Cotiza 2 (puede ingresar código html)</label>
	          <textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="cotiza2DetalleProyecto" id="cotiza2DetalleProyecto"  maxlength="2000"></textarea>
	        </div>
	        <div id="divCotiza3DetalleProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>Cotiza 3 (puede ingresar código html)</label>
	          <textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="cotiza3DetalleProyecto" id="cotiza3DetalleProyecto" maxlength="2000"></textarea>
	        </div>
					<div id="divReserva1DetalleProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>Reserva 1 (puede ingresar código html)</label>
						<textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="reserva1DetalleProyecto" id="reserva1DetalleProyecto" maxlength="2000"></textarea>
	        </div>
	        <div id="divResrerva2DetalleProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>Reserva 2 (puede ingresar código html)</label>
	          <textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="reserva2DetalleProyecto" id="reserva2DetalleProyecto"  maxlength="2000"></textarea>
	        </div>
	        <div id="divReserva3DetalleProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label>Reserva 3 (puede ingresar código html)</label>
	          <textarea rows="3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 5pt 5pt 5pt 5pt; resize: none; margin-bottom: 5pt;" name="reserva3DetalleProyecto" id="reserva3DetalleProyecto" maxlength="2000"></textarea>
	        </div>
				</form>
      </div>
			<!-- Botones -->
      <div id="botonesDetalleProyecto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt;">
				<div id="divEditarDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="editarDetalleProyecto" id="editarDetalleProyecto"><i class="fa fa-edit"></i>&nbsp;&nbsp;Editar</button>
        </div>
        <div id="divGuardarDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="guardarDetalleProyecto" id="guardarDetalleProyecto" disabled><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
        </div>
				<div id="divRegresarDetalleProyecto" class="col-lg-2 col-md-2 col-sm-12 col-xs-12" >
          <button style="width: 100%; margin-bottom: 5pt;" class="btn btn-primary" name="regresarDetalleProyecto" id="regresarDetalleProyecto"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Regresar</button>
        </div>
      </div>
		</div>
</div>
