<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>

<script>
//Para interactuar con la tabla de productos
	$('#tablaListadoClientes tbody').on( 'click', 'tr', function () {
		var table = $('#tablaListadoClientes').DataTable();
		if ( $(this).hasClass('selected') ) {
				$(this).removeClass('selected');
        $("#inputListadoClientesEliminar").attr("disabled","disabled");
        $("#inputListadoClientesDetalle").attr("disabled","disabled");
		}
		else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
        $("#inputListadoClientesEliminar").removeAttr("disabled");
        $("#inputListadoClientesDetalle").removeAttr("disabled");
		}
	});

</script>

<div id="idMainListadoClientes" style="margin-top: 50pt;">
		<div id="mainListadoClientes" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30pt;">
      <div id="divTituloListadoClientes" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15pt;">
        <font style="font-size: 15pt; font-weight: bold;">Listado de clientes</font>
      </div>
      <div id="divTablaListadoClientes" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20pt; height: 100%;">
			  <table id="tablaListadoClientes" class="display compact" style="height: 100%; width: 100%;">
			    <thead>
			      <tr>
			        <th class="celdaColor" style="border: 1pt solid white;">Rut</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Apellidos</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Nombres</th>
			        <th class="celdaColor" style="border: 1pt solid white;">E-Mail</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Celular</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Fecha alta</th>
			        <th class="celdaColor" style="border: 1pt solid white;">Estado</th>
			      </tr>
			    </thead>
			    <tbody id="cuerpoTablaListadoClientes" style="text-align: left;">

			    </tbody>
			  </table>
			</div>
      <!-- Botones -->
      <div>
        <div id="divListadoClientesDetalle" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <button style="width: 100%; font-size: 9pt;" id="inputListadoClientesDetalle" class="btn btn-primary" disabled>
            <i class="fa fa-home"></i>&nbsp;&nbsp;Detalle
          </button>
        </div>
        <div id="divListadoClientesEliminar" style="margin-top: 10pt;" class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
					<button style="width: 100%; font-size: 9pt;" id="inputListadoClientesEliminar" class="btn btn-primary" disabled>
						<i class="glyphicon glyphicon-erase"></i>&nbsp;&nbsp;Eliminar
					</button>
				</div>
			</div>
    </div>
</div>
