<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div style="margin-top: 70pt;">
		<div id="login" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form id="loginSystem"  style="display: none;">
				<div class="form-group">
					<img id="imgLlave" src="view/img/llave.png" style="height: 90pt; margin-bottom: 10pt;" class="hidden-sm hidden-xs">
					<img id="imgLlaveMovil" src="view/img/llave.png" style="height: 60pt; margin-bottom: 10pt;" class="hidden-lg hidden-md">
					<br />
					<label style="font-size: 18pt; margin-bottom: 2pt;">&nbsp;&nbsp;&nbsp;Inicio de sesión&nbsp;&nbsp;&nbsp;</label>
					<br />
					<input style="width: 100%; margin-bottom: 16pt; margin-top: 16pt;" class="form-control" type="text" name="loginSystem-rut" id="loginSystem-rut" placeholder="Rut" onblur="Rut3();">
					<input style="width: 100%; margin-bottom: 16pt;" class="form-control" type="password" name="loginSystem-pass" id="loginSystem-pass" placeholder="Contraseña" >
					<button style="width: 100%;" class="form-control btn btn-primary" name="loginSystem-submit" id="loginSystem-submit">Ingresar</button>
				</div>
			</form>
		</div>
</div>
<script>
