<script>
	function randomTextoLoadJs(){
	  var str = '';
	  var ref = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRST0123456789';
	  for (var i = 0; i < 8 ; i++)
	  {
	    str += ref.charAt(Math.floor(Math.random()*ref.length));
	  }
	  return str;
	}
  var js = document.createElement('script');
  js.src = 'view/js/funciones.js?idLoad=' + randomTextoLoadJs();
  document.getElementsByTagName('head')[0].appendChild(js);
</script>
<div style="margin-top: 50px;">
	<div class="contenedor col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 24px;">
		<div id="mainConstruccion" class="sombraDato col-lg-11 col-md-11 col-sm-11 col-xs-11">
			<div>
				<img src='view/img/construccion.png' style="width: 150px;">
				<br />
				<br />
				<font style="color: white; font-size: 24px;">Área en construcción</font>
			</div>
		</div>
	</div>
</div>